@font-face{
    font-family: "Oswald-Regular";
    src: url("fonts/Oswald-Regular.ttf");
}

@font-face{
    font-family: "Oswald-Light";
    src: url("fonts/Oswald-Light.ttf");
}

@font-face{
    font-family: "Oswald-ExtraLight";
    src: url("fonts/Oswald-ExtraLight.ttf");
}

@font-face{
    font-family: "Oswald-Medium";
    src: url("fonts/Oswald-Medium.ttf");
}

@font-face{
    font-family: "Oswald-SemiBold";
    src: url("fonts/Oswald-SemiBold.ttf");
}

@font-face{
    font-family: "Oswald-Bold";
    src: url("fonts/Oswald-Bold.ttf");
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
    min-height: 100vh;
    position: relative;
}

button, form input[type=submit]{
    background-color: whitesmoke;
    border-radius: 8px;
    border-width: 0;
    width: 180px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Oswald-Light";
    font-size: 24px;
    line-height: 32px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

button:hover, form input[type=submit]:hover{
    color: white;
    background-color: #d4af37;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

header{
    width: 100%;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color .3s ease-in-out;
}

#header-links{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header-links a{
    color: black;
    font-family: "Oswald-Light";
    font-size: 32px;
    box-shadow: inset 0 0 0 0 #d4af37;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#header-links a:hover{
    color: white !important;
    box-shadow: inset 200px 0 0 0 #d4af37 !important;
}

#header-socials{
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header-socials a{
    transition: opacity .2s ease-in-out;
    opacity: 1;
}

#header-socials a:hover{
    opacity: 0.5;
}

.header-icon-div{
    width: 2rem;
}

.header-icon-div img{
    width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

p{
    font-family: "Oswald-Light";
    font-size: 20px;
}

h1{
    font-family: "Oswald-Medium";
    font-size: 120px;
    text-transform: uppercase;
    margin: 0;
}

h2{
    font-family: "Oswald-Regular";
    font-size: 48px;
    margin: 0;
    font-weight: normal;
}

h3{
    font-family: "Oswald-ExtraLight";
    font-size: 32px;
    margin: 0;
    letter-spacing: 0.07rem;
}

h4{
    font-family: "Oswald-Light";
    font-size: 28px;
    margin: 0;
    font-weight: normal;
}

main{
    width: 100%;
    padding-bottom: 3rem;
}

#welcome-video{
    width: 100%;
    height: 100vh;
    margin-top: 3.5rem;
    overflow: hidden;
    margin-top: 0;
}

#welcome-video::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#welcome{
    margin-top: 18rem;
    margin-left: 30vh;
    position: absolute;
    top: 0;
    left: 0;
}

#welcome h1{
    color: white;
    font-family: "Oswald-Medium";
    font-size: 140px;
    text-decoration: underline;
    text-decoration-color: #d4af37;
    text-decoration-thickness: 10px;
    text-underline-offset: 8px;
    
}

#welcome h1 span{
    color: #d4af37;
}

#welcome h2{
    width: 50%;
    font-family: "Oswald-Light";
    font-weight: bold;
    letter-spacing: 0.05rem;
    font-size: 40px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.7);
}

#license-plates-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 150px;
    margin-top: 260px;
    margin-bottom: 260px;
    margin-left: 10vh;
    margin-right: 10vh;
    overflow-x: hidden;
}

.license-plate{
    border-radius: 1vh;
    width: 50vh;
    animation: marquee 10s linear infinite;
}

@keyframes marquee{
    0% { transform: translate(0, 0); }
    100% { transform: translate(calc(-300% - 450px), 0); }
}

#quote{
    margin-top: 260px;
    margin-left: 50vh;
    width: 50%;
    text-align: center;
}

#quote img{
    width: 36%;
    border-radius: 360px;
    margin-bottom: 50px;
}

#quote h3{
    text-align: justify;
}

#quote h4{
    text-align: right;
    margin-top: 28px;
}

#gallery{
    margin-top: 260px;
    margin-left: 30vh;
    margin-right: 30vh;
}

#gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#gallery img{
    width: 40%;
    height: 100%;
    transition: opacity 0.3s;
}

#gallery-description{
    text-align: justify;
    width: 50%;
}

#gallery-description p{
    font-size: 24px;
}

#have-fun{
    margin-top: 300px;
    margin-left: 30vh;
    margin-right: 30vh;
}

#have-fun-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#have-fun-description{
    width: 33%;
    text-align: justify;
}

#have-fun-description p{
    font-size: 24px;
}

#have-fun-video{
    width: 800px;
    height: 450px;
}

#bestseller{
    margin-top: 260px;
    margin-left: 30vh;
    margin-right: 30vh;
}

#bestseller h2{
    text-align: center;
    margin-bottom: 40px;
}

#bestseller h4{
    text-align: center;
    font-size: 26px;
}

#bestseller p{
    font-size: 24px;
}

#bestseller-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}

#bestseller-description{
    margin-top: 40px;
}

#bestseller-description p{
    margin: 0;
}

#bestseller-description button{
    margin-top: 40px;
}

#bestseller-description table{
    border-spacing: 64px 12px;
    margin-left: -64px;
}

#bestseller img{
    width: 50%;
    height: 100%;
    margin-top: 40px;
}

#contact{
    margin-top: 200px;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 100px;
}

#contact h2{
    margin-bottom: 40px;
}

#contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact-description p{
    margin-top: 0;
    margin-bottom: 10px;
}

#contact-map{
    width: 650px;
    height: 450px;
}

#opinions{
    margin-top: 260px;
    margin-left: 30vh;
    margin-right: 30vh;
}

#opinions h2{
    text-align: center;
    margin-bottom: 120px;
}

#opinions-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 160px;
    margin-bottom: 120px;
}

.opinion-card{
    width: 100%;
    text-align: center;
}

.opinion-card img{
    width: 50%;
    border-radius: 360px;
}

.opinion-card h4{
    font-size: 34px;
    margin-top: 20px;
}

.opinion-card p{
    font-size: 22px;
    font-style: italic;
    margin-top: 12px;
}

footer{
    width: 100%;
    height: 3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
}

footer p{
    margin: 0;
    line-height: 3rem;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background: #bdbdbd;
    border-radius: 36px;
}

::-webkit-scrollbar-thumb:hover{
    background: #9b9b9b;
}

::selection{
    color: black;
    background: #d4af37;
}

::-moz-selection{
    color: black;
    background: #d4af37;
}

form{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vh;
    text-align: center;
    width: 30%;
    height: 48rem;
    margin-top: 10vh;
    border-radius: 36px;
    background-color: whitesmoke;
}

form p{
    margin: 0;
    margin-top: 8px;
    font-size: 26px;
}

form h2{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 44px;
}

form input[type=text], input[type=email], form input[type=password]{
    border: 0;
    border-radius: 18px;
    outline: none;
    font-family: "Oswald-Light";
    font-size: 20px;
    margin: 8px;
    padding: 4px 18px;
    width: 54%;
    height: 36px;
    letter-spacing: 0.02rem;
    background-color: white;
}

form #nip, form #regon{
    display: none;
}

#login, #register{
    border: 0;
    border-radius: 36px;
    outline: none;
    font-family: "Oswald-Light";
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 44%;
    height: 56px;
    background-color: white;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#login:hover, #register:hover{
    cursor: pointer;
    color: white;
    background-color: #d4af37;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

form #register{
    margin-top: 0;
}

form input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin: 12px;
    outline: none;
    accent-color: #d4af37;
}

form input[type=datetime-local]{
    margin: 8px;
    padding: 10px 18px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    border-radius: 26px;
    font-size: 16px;
}

.first-element{
    margin-top: 16px !important;
}

form .form-first-element{
    margin-top: 24px !important;
}

form .error-span{
    font-family: "Oswald-Light";
    font-size: 20px;
    color: red;
}

form #business-span{
    font-family: "Oswald-Light";
    font-size: 20px;
}

form #success{
    font-family: "Oswald-Light";
    font-size: 32px;
    color: green;
    margin-top: 60px;
    margin-bottom: 72px;
}

#register-link{
    text-decoration: underline;
    color: black;
    transition: color .2s ease-in-out;
}

#register-link:hover{
    color: #d4af37;
    transition: color .2s ease-in-out;
}

#cars{
    margin-top: 120px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 60px;
}

#car-container{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 40px 10px;
    justify-content: space-between;
}

#car-sort{
    text-align: right;
}

#car-sort select{
    width: 8rem;
    font-family: "Oswald-Light";
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    outline: 0;
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: opacity 0.2s;
}

#car-sort select:hover{
    opacity: 0.7;
    transition: opacity 0.2s;
}

.car-card{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.125);
    transition: opacity 0.3s;
}

.car-card:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.car-card p{
    margin: 2px 0 2px 0;
    font-size: 22px;
}

.car-card h5{
    margin: 6px 0 12px 0;
    font-family: "Oswald-Light";
    font-size: 32px;
}

.car-card img{
    width: 100%;
}

.car-card-price{
    font-size: 24px !important;
    margin-top: 6px !important;
    margin-bottom: 16px !important;
}

#rent{
    margin-top: 140px;
    margin-left: 240px;
    margin-right: 240px;
}

#rent h2{
    margin-bottom: 28px;
    font-size: 58px;
    text-decoration: underline;
    text-decoration-color: #d4af37;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

#rent-button{
    border-radius: 18px;
}

#rent-go-back{
    margin: 0;
    width: 5rem;
}

#rent-go-back p{
    margin: 0 0 4px 0;
    color: black;
    transition: color .2s ease-in-out;
}

#rent-go-back p:hover{
    color: #d4af37;
    transition: color .2s ease-in-out;
}

#rent-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#rent-description{
    width: 50%;
}

#rent-description p{
    font-size: 24px;
    margin: 0;
}

#rent-description table{
    border-spacing: 96px 12px;
    margin-left: -96px;
}

#rent-description button{
    margin: 40px 0 22px 0;
    width: 50%;
    height: 72px;
}

#rent-image{
    width: 50%;
}

#rent-image img{
    width: 100%;
}

#rent-form{
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
}

#rent-form form{
    z-index: 30;
    background-color: white;
    position: relative;
    width: 33%;
    height: 90vh;
    margin-top: 5vh;
}

#rent-form-close{
    width: 100%;
    height: 5px;
    margin-top: 0;
    padding: 5px 0 30px 0;
    font-size: 28px;
    text-align: right;
}

#rent-form-close-span{
    margin: 0 20px 0 0;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s;
}

#rent-form-close-span:hover{
    opacity: 0.6;
    transition: opacity 0.2s;
}

#rent-form h3{
    font-size: 44px;
    margin-bottom: 8px;
}

#rent-form h4{
    font-size: 26px;
    margin: 24px 0 10px 0;
}

#rent-form p{
    font-family: "Oswald-Light";
    font-size: 20px;
}

#rent-form span{
    font-family: "Oswald-Light";
    font-size: 20px;
}

#rent-form-disclaimer{
    margin: 6px 0 0 0;
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.8);
}

#rent-form-dates{
    width: 23rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    background-color: whitesmoke;
    border-radius: 20px;
}

#rent-form-dates p{
    margin: 4px 0 4px 0;
    letter-spacing: 0.03rem;
}

#rent-form-options{
    margin: 0 auto 0 auto;
    text-align: left;
    width: 10rem;
    height: 6.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#rent-form-options label{
    margin: 0;
}

#rent-form-options input{
    margin: 0 8px 0 0;
}

#rent-form-options br{
    margin: 200px;
}

#rent-form-business input{
    margin: 0 8px 0 0;
}

#rent-form-total{
    position: absolute;
    bottom: 6.5rem;
    width: 14rem;
    left: calc(50% - 7rem);
}

#rent-form-total h4{
    margin: 0 !important;
}

#rent-form-button{
    position: absolute;
    bottom: 2rem;
    width: 14rem;
    left: calc(50% - 7rem);
}

#rent-form-submit{
    width: 100%;
    height: 4rem;
    font-size: 24px;
}

#account{
    margin-top: 180px;
    margin-left: 240px;
    margin-right: 240px;
    text-align: center;
}

#account-form{
    background-color: white;
    width: 16rem;
    height: 4rem;
    border-radius: 0;
    margin: 24px auto 18px auto;
    padding: 0;
}

#account-form input[type=submit]{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

#account h2{
    margin-bottom: 12px;
    text-decoration: underline;
    text-decoration-color: #d4af37;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

#account h4{
    margin: 4px 0 4px 0;
}

#account h3{
    font-size: 36px;
    margin: 50px 0 0 0;
}

#account a{
    text-decoration: underline;
    color: black;
    transition: color .2s ease-in-out;
}

#account a:hover{
    color: #d4af37;
    transition: color .2s ease-in-out;
}

.account-car-div{
    width: 33%;
    margin: 20px auto 20px auto;
}

.account-car{
    font-size: 28px;
    margin: 0 0 8px 0;
}

.account-date{
    font-size: 20px;
    margin: 0;
    letter-spacing: 0.03rem;
}

.account-car-history{
    font-size: 28px;
    margin: 0 0 8px 0;
}

.account-car-history a{
    color: rgba(0, 0, 0, 0.7) !important;
    text-decoration: none !important;
    transition: color .2s ease-in-out;
}

.account-car-history a:hover{
    color: #d4af37 !important;
    transition: color .2s ease-in-out;
}

.account-date-history{
    font-size: 20px;
    margin: 0;
    letter-spacing: 0.03rem;
    color: rgba(0, 0, 0, 0.5);
}

#success{
    margin-top: 180px;
    margin-left: 240px;
    margin-right: 240px;
    text-align: center;
}

#success h2{
    margin-bottom: 60px;
    text-decoration: underline;
    text-decoration-color: #d4af37;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

#success h3{
    margin: 22px 0 22px 0;
    font-size: 24px;
    font-family: "Oswald-Light";
    font-weight: normal;
    letter-spacing: normal;
}

#success h4{
    margin: 40px 0 40px 0;
    font-size: 30px;
}
